<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098695337612-0doareg6rt1i5vfvmqfjirrkps1dc7kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098695337612-0doareg6rt1i5vfvmqfjirrkps1dc7kj</string>
	<key>API_KEY</key>
	<string>AIzaSyBD82M243PTMFFCCC3lHXM4lE4luQ0hVIE</string>
	<key>GCM_SENDER_ID</key>
	<string>1098695337612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutterfireIsolates</string>
	<key>PROJECT_ID</key>
	<string>zappy-mappy</string>
	<key>STORAGE_BUCKET</key>
	<string>zappy-mappy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098695337612:ios:2b5b75ca2b83e0a42b7da9</string>
</dict>
</plist>